<h1>Godesk Support Team</h1>

<p>
  Welcome,
</p>

<p>
  You are now a member of Godesk Support Team. <br>
  These are your authentication credentials:
</p>

<ul>
  <li>Username: <b><%= @username %></b></li>
  <li>Password: <b><%= @password %></b></li>
</ul>

<p>
  Your password has been generated randomly. <br>
  Use these credentials to login at Godesk.
</p>

<p>
  You were invited by <b><%= @inviter_username %></b>.
</p>

<p>
  <small>
    These informations are secret, please do not share. <br>
    If you received this message by mistake, please disconsider it.
  </small>
</p>
